body {
	font-family: Georgia, serif;
	font-size: 3vw;
}

header {
	font-weight: bold;
	text-decoration-line: underline;
	font-size: 3.5vw;
	
}

div.signature {
	position: absolute;
	left: 0%;
	
	
}

div.vh-center {
	position: absolute;
	top: 20%;
	left: 20%;
}
