body{
	background-color: rgb(255,167,91);
}

@font-face {
	font-family: Vecna;
	src: url('Vecna.otf');
}

@font-face {
	font-family: Anglodavek;
	src: url('Anglodavek.otf')
}

h1 {
	color: rgb(29,25,255);
	font-size: 200%;
}

a:link {
	color: blue;
}

a:hover {
	color: red;
	font-weight: bold;
	font-family: Anglodavek;
}

a:active {
	color: green;
}

p{
    text-align: justify;
	font-size: 150%;
	text-align: center;
}
