body {
	background-image: url("datapad_screen_blank_1.png");
	/* background-position: center; */
	background-color: #575757;
	background-size:100% auto;
}

@font-face {
	font-family: Aurebesh;
	src: url('Aurebesh.ttf');
}

h1 {
	color: white;
	font-family: Aurebesh;
	font-size: 10vh;
}

p {
	color: white;
	font-family: Aurebesh;
	font-size: 5vh;
}

img.rebellogo {
	width: 5%;
	height: auto;
}