body {
	background-image: url("datapad_screen_blank_2.png");
	/* background-position: center; */
	background-color: #575757;
	background-size: cover;
}

@font-face {
	font-family: Aurebesh;
	src: url('Aurebesh.ttf');

	font-family: Univers;
	src: url('UniversBlack.ttf');
}

div.text {
	color: white;
	font-family: Aurebesh;
}

h1 {
	font-size: 10vh;
}

p {
	font-size: 5vh;
}

img.rebellogo {
	width: 5vh;
	height: auto;
}

button.toggleButton {
	width: 50vw;
	height: auto;
}

div.containerBut {
	margin: 0px 50vw;
}

.button {
	background-color: rgba(40, 50, 55, 0.5); /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 3vh;
	font-family: Univers;
}